.sign-in-from__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
